/* Global */
*{
    box-sizing: border-box;
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
body {
    display: grid;
    margin: 20px;
    gap: 20px;
}
/* Header */
header , footer{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
header nav , footer .links{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4 , auto);
}
.logo{
    font-size: x-large;
}
/* sections */
section.intro-section{
display: grid;
grid-template-columns: 1fr 2fr;
gap: 20px;
}
section.intro-section > div{
    background-color: #ccc;
    
} 
.intro{
    padding: 20px;
}
.slider{
    padding: 40px;
    display: grid;
        place-content: center;
    
}
.services , .Work{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    
    grid-template-rows: 150px;
}
.services > div  , .Work > div{
    background-color: #ccc;
    display: grid;
    place-content: center;

}
.twiter-feed{
    background-color: #ccc;
    padding: 20px;
}


/* Media Query */
@media (max-width:650px) {

    .services,
    .Work  , section.intro-section{
        display: grid;
        grid-template-columns:1fr;
        gap: 20px;
        grid-auto-rows: minmax(150px, auto);
    }

}

@media  (max-width:960px) and (min-width:651px) {
.services,
    .Work {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-auto-rows: minmax(150px , auto);
    }
.Work div:last-child,
.services div:last-child {
    grid-column: 1/-1;

}
}